body::before {
    display: block;
    height: 60px;
    content: '';
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}